[submodule "spiffe-spire"]
	path = spiffe-spire
	url = https://github.com/openshift/spiffe-spire.git
	branch = main
[submodule "spiffe-spire-controller-manager"]
	path = spiffe-spire-controller-manager
	url = https://github.com/openshift/spiffe-spire-controller-manager.git
	branch = main
[submodule "spiffe-spiffe-csi"]
	path = spiffe-spiffe-csi
	url = https://github.com/openshift/spiffe-spiffe-csi.git
	branch = main
[submodule "zero-trust-workload-identity-manager"]
	path = zero-trust-workload-identity-manager
	url = https://github.com/openshift/zero-trust-workload-identity-manager.git
	branch = main
