[submodule "spiffe-spire"]
	path = spiffe-spire
	url = https://github.com/openshift/spiffe-spire.git
	branch = release/v1.12.4
[submodule "spiffe-spire-controller-manager"]
	path = spiffe-spire-controller-manager
	url = https://github.com/openshift/spiffe-spire-controller-manager.git
	branch = release/v0.6.2
[submodule "spiffe-spiffe-csi"]
	path = spiffe-spiffe-csi
	url = https://github.com/openshift/spiffe-spiffe-csi.git
	branch = release/v0.2.7
[submodule "zero-trust-workload-identity-manager"]
	path = zero-trust-workload-identity-manager
	url = https://github.com/openshift/zero-trust-workload-identity-manager.git
	branch = main
[submodule "spiffe-spiffe-helper"]
	path = spiffe-spiffe-helper
	url = https://github.com/openshift/spiffe-spiffe-helper.git
	branch = release-0.10.0
